  1 xft.dpi: 180
  2 
  3 URxvt.depth:32
  4 URxvt.background:[80]#000000
  5 
  6 ! Font setting
  7 URxvt.font: xft:WenQuanYi Micro Hei Mono:minspace=false:pixelsize=24:    size=16:style=regular:antialias=true
  8 URxvt.letterSpace: -2
  9 URxvt.scrollBar:                false
 10 
 11 ! Color settings
 12 URxvt*background:  Black
 13 URxvt*foreground:  White
 14 URxvt*fading:  30
 15 
 16 !Input method
 17 URxvt.multichar_encoding:utf-8
 18 URxvt.imLocale:zh_CN.UTF-8
 19 URxvt.inputMethod:fcitx
 20 
 21 Xcursor.theme: xcursor-breeze
 22 Xcursor.size: 0
